html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        block styles
        link(rel="stylesheet" href="/css/shop.css")

    body
        header.main-header
            ul.header-list
                li.header-list-items
                    a(href="/", class=(path==="/" ? "active" : "")) My Shop
                li.header-list-items
                    a(href=(path==="/add-product" ? "#" : "/admin/add-product"), class=(path==="/add-product" ? "active" : "")) Add Product

        block content