extends ./layout.pug

block styles
     link(rel="stylesheet" href="/css/shop.css")

block content
    if(prods.length > 0)

        div.product__main
            h1 My Products
            div.all__products
                each product in prods
                    div.product__details
                        h2.product__title #{product.name}
                        img.product__img(src=product.image)
                        div.product__offers
                            h3.product__price £#{product.price}
                            p.product__desc #{product.description}
                            button.product__add-to-cart Add to cart
    else 
        main.shop-body
            h1 No products available
