html, body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    scrollbar: none
}
.main-header{
    background-color: green;
    width: 100%;
}
.header-list{
    display: flex;
    margin: 0px;
    list-style: none;
    gap: 1rem;
    align-items: center;
    height: 5rem;
}

@media(min-width: 499px){
    .header-list{
        gap: 2rem;
        margin: 0px 2rem;
    }
}

.header-list-items{
    cursor: pointer;
}

.header-list-items > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

 .header-list-items > a:hover{
    color: yellow;
    text-decoration: underline
    
}
.header-list-items > .active{
    color: yellow;
    text-decoration: underline;
}

.error-page{
    margin: 2rem;
}