
.shop-body{
    margin: 2.5rem;
}

.all__products{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem 2rem;
    margin-bottom: 3rem;
}
.product__details{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 450px;
    border: 3px solid grey;
    border-radius: 0.5rem;
}
.product__title{
    text-align: center;
    margin-top: 1rem;
}
.product__img{
    width: 80%;
    height: 220px;
    margin: 0px auto 0.3rem auto;
}
.product__offers{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0rem 1rem ;
    margin: 0.3rem 0px;
}
.product__price{
    margin: 0px;
}
.product__desc{
    line-height: 1.4;
    text-align: left;
    margin-top: 10px;
    font-size: 0.9rem;
}
.product__add-to-cart, .place-order{
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: blue;
    border-radius: 0.4rem;
    color: aliceblue;
    cursor: pointer;
    margin: 0px;
}

.product__add-to-cart:hover, .place-order:hover{
background-color: cadetblue;
color: blueviolet;
}

.product__main {
    display: flex;
    flex-direction: column;
    margin: 0px 1rem;
}
@media(min-width: 499px){
    .all__products{
        margin: 0px 2rem;
    }
}

.edit__delete, .details__add-to-cart {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin: 0 auto;
}

.all__cart{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}
.cart__details{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    gap: 0.5rem;
    justify-content: space-between;
    border: 3px solid grey;
    border-radius: 0.5rem;
    padding: 1rem;

}
@media(min-width: 699px){
    .cart__details{
        width: 500px;
    }
}
.cart__desccription{
    justify-items: left;
}

.total-price{
    height: fit-content;
    align-self: center;
}
.place-order-form{
    display: flex;
}
.place-order{
    margin: 0px auto;
}
h3 {
    margin: 0px;
}

.cart__offers{
    display: flex;
    gap: 1rem;
}
.cart__img{
    margin: 0px;
    padding: 0px;
    width: 100px;
}
.indexOf{
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.detail__order {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

.order-top{
    display: flex;
    justify-content: space-between;
}
.order__details{
    height: 70px;
    margin-bottom: 1rem;
    width: 350px;
}
a{
    text-decoration: none;
}