html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        block styles
        link(rel="stylesheet" href="/css/shop.css")
        link(rel="stylesheet" href="/css/main.css")

    body
        header.main-header
            .header-list
                p.header-list-items
                    a(href="/", class=(path==="/" ? "active" : "")) Shop
                .header-list-items
                    a(href=(path==="/cart" ? "#" : "/cart"), class=(path==="/cart" ? "active" : "")) Cart
                p.header-list-items
                    a(href=(path==="/orders" ? "#" : "/orders"), class=(path==="/admin/orders" ? "active" : "")) Orders
                p ||
                p.header-list-items
                    a(href="/admin/products", class=(path==="/admin/products" ? "active" : "")) Products
                p.header-list-items
                    a(href=(path==="/add-product" ? "#" : "/admin/add-product"), class=(path==="/add-product" ? "active" : "")) Add Product




        block content